<div class="dropdowns flex my-text">
  <div class="dropdown_one">
    <label>Expense Category</label>
    <select
      class="form-select my-text"
      [(ngModel)]="primarySelection"
      (change)="onPrimaryChange()"
    >
      <option value="">Select Category</option>
      <option *ngFor="let option of primaryOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>

  <div class="dropdown_two" *ngIf="showSecondarySelect">
    <label>Expense Type</label>
    <select
      class="form-select"
      [(ngModel)]="secondarySelection"
      (change)="onSecondaryChange()"
    >
      <option value="">Select  Type</option> <!-- Added "Select Option" as default -->
      <option *ngFor="let option of secondaryOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
</div>

<div class="forms">
  <!-- Maintenance Form -->
  <div class="maintenance" *ngIf="showmaintenance">
    <app-maintenance></app-maintenance>
  </div>
  <!-- Driver Replacement Form-->
  <div class="driver_replacement" *ngIf="showdriver">
    <app-driver></app-driver>
  </div>
  <!-- Vehicle Replacement Form-->
  <div class="vehicle_replacement" *ngIf="showvehicle">
    <app-vehicle></app-vehicle>
  </div>
</div>
